@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.login_pass {
    position: absolute;
    padding: 15px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    top: 200px;
    left: 100px;
}
  
.login_button {
    position: absolute;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    top: 200px;
    left: 100px;
}

.reset_pass {
    position: absolute;
    font-size: 50px;
    top: 50px;
    left: 100px;
}

.send_code {
    position: absolute;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    top: 200px;
    left: 100px;
}